@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 51 100% 50%;
    --foreground: 0 0% 0%;

    --card: 0 0% 35%;
    --card-foreground: 0 0% 100%;

    --popover: 51 100% 50%;
    --popover-foreground: 0 0% 0%;

    --primary: 51 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 45 100% 96%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 35%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 0%;
    --accent-foreground: 48 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;

    --radius: 1.5rem;

    --footer: 0 0% 0%;
  }

  .dark {
    --background: 51 100% 50%;
    --foreground: 0 0% 0%;

    --card: 0 0% 35%;
    --card-foreground: 0 0% 100%;

    --popover: 51 100% 50%;
    --popover-foreground: 0 0% 0%;

    --primary: 51 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 45 100% 96%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 35%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 0%;
    --accent-foreground: 48 100% 50%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;

    --footer: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-serif;
  }
}
